/* Colors ---------------------------------------------- */
// Font Colors
$linkcolor: #a62425;
$titleFontColor: #a62425;
$facebook_blue: #3a589d;
// Background colors: 

$bkgoundContent: #FFFFFF; // 
$menuBarbkg: #D14719; //

/* Typography ------------------------------------------ */
.reach-logo:before {
	content: url('images/reach-favicon.png');
	padding-right: 3px;
}
